#section1{
    p{
        font-size: 1.1rem;
        color: grey;
    }

    p{
        text-indent: 20px;
    }

    p:first-of-type{
        color: pink;
    }

    p:nth-child(even){
        font-variant: small-caps;
    }

    p:nth-child(2){
        border: 5px solid violet;
    }

    p:last-of-type{
        text-transform: uppercase;
    }   
}
