@import "normalize.scss";
@import 'default-theme.scss';
@import 'animations.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 25px;   
}

header#header{
    background: #2F4B6E 0% 0% no-repeat padding-box;
    .container{
        min-height: 190px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #self-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .img-wrapper{
                height: 130px;
                width: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    img{
                        clip-path: ellipse(30% 30% at 50% 47%);
                    }
                }
            }
            .info-text{
                color: white;
                h2{
                    margin: 0;
                    text-align: left;
                    font-size: 18px;
                    font-weight: normal;
                    letter-spacing: 0;
                }
                span{
                    text-align: left;
                    font-size: 14px;
                    letter-spacing: 0;
                }
            }
        }
        .contacts{
            padding-right: 15px;
            ul{
                list-style: none;
                text-decoration: none;
                color: white;
                li{
                    transition: .7s;
                    margin-bottom: 10px;
                    &:hover{
                        color: $muted-text;
                    }
                }
                img{
                    width: 1.1rem;
                    margin-right: 10px;
                }
            }
        }
    }
}

main#main{
    background: #F4FCFF 0% 0% no-repeat padding-box;
    .container{
        position: relative;
        display: grid;
        grid-column-gap: 100px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        section.item{
            padding: 20px 0;
            h2{
                padding: 0 0 20px;
                font-weight: normal;
                img{
                    margin: 0 10px 0 0;
                    transition: .7s;
                }
                .first-word{
                    font-weight: bold;
                }
            }
            .section-content{
                padding-left: 20px;
                // display: grid;
                .section-block{
                    display: grid;
                    grid-template-columns: 45px 1fr;
                    .section-images{
                        .dot{
                            width: 15px;
                            height: 15px;
                            margin: 5px auto;
                            border-radius: 50%;
                            background: #1C88F3 0% 0% no-repeat padding-box;
                        }
                        .line{
                            height: calc(100% - 25px);
                            width: 3px;
                            background: #1C88F3 0% 0% no-repeat padding-box;
                            margin: 0 auto;
                        }
                    }
                    .section-text{
                        h3{
                            margin: 0 0 10px;
                        }
                        &:last-child{
                            padding-bottom: 20px;
                        }
                    }
                    .muted-text{
                        color: #989898;
                    }
                }
                .certification-block{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                    .certificate-info{
                        vertical-align: middle; 
                        img{
                            float: left;
                            padding-right: 10px;
                            min-width: 100px;
                            shape-outside: circle(50%);
                        }
                        .certificate-name{
                            span.info{
                                padding: 0 7px;
                                border-radius: 10px;
                                color: rgb(26, 212, 26);
                                border: 1px solid rgb(26, 212, 26);
                                white-space: nowrap;
                            }
                        }
                    }
                    .certificate-href{
                        text-align: right;
                    }
                }
            }
            &:hover{
                h2{
                    img{
                        transform: rotate(-90deg)
                    }
                }
                
            }
        }
        #gallery{
            grid-column: 1 / 3;
            .section-content{
                padding: 0;
                display: grid;
                position: relative;
                grid-gap: 15px;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
            .gallery-block{
                img{
                    width: 100%;
                    transition: .7s;
                    border: 3px solid rgba($color: #1C88F3, $alpha: .8)
                }
                &:hover{
                    cursor: zoom-in;
                    img{
                        transform: scale(1.15);
                        // clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
                    }
                }
            }
        }
    }
}