$header-bg-color: #2F4B6E;
$header-text-color: white;
$main-bg-color: #F4FCFF;
$main-text-color: #2c3032;
$muted-text: #989898;
$images-border-color: #1C88F3;
$certificate-additional-text-color: rgb(26, 212, 26);

$header-bg-color-dark: #2c3032;
$header-text-color-dark: #F4FCFF;
$main-bg-color-dark: #0B0300;
$main-text-color-dark: #F4FCFF;
$muted-text-dark: #989898;
$images-border-color-dark: #1C88F3;
$certificate-additional-text-color-dark: rgb(26, 212, 26);
    